.book-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    padding: 50px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: #000000;
    height: 500px;
    width: 50%;
}
.book-info{
    border: solid 1px #ccc;
width: 200px;
}

.rigth-side h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}